# Exemplo de configuração de banco de dados para o Neon DB
DB_URL=jdbc:postgresql://<ENDPOINT_DO_BANCO>.neon.tech/neondb?sslmode=require
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
# Nescessario substituir pelas credenciais da conexão com o DB